<% layout('boilerplate') %> 



  <table class="container" >
    <thead>
      <tr>
        <th scope="col">Product Image</th>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <% if(typeof(carts)!=="undefined"){ %> 
    <tbody>
    <% var total = 0  %>
    <% for (let cart of carts){ %>
      <% var sub = parseFloat(cart.price).toFixed(2) %>
      <% total += +sub %>  
          <tr>
            <td><img style="width: 100px; height: 100px ; object-fit: contain;" src="<%=cart.image[0].url%>" alt=""></td>
            <td><%=cart.name%></td>
            <td>$<%=cart.price%></td>
            <td><%=cart.category %> </td>
           
          </tr>
     <% } %>
     <tr>
       <td>TOTAL</td>
      <td>$<%=parseFloat(total) %> </td>
      
     </tr>
     <td> <a style="margin-top: 30px;" class="btn btn-warning" href="/buy">Purchase For $<%=parseFloat(total)%> </a></td>
     <td> <a class="btn btn-danger" href="/carts/delete%>"> Clear Cart</a></td>
     
    </tbody>
    <% }else { %>
      <h1 class="ml-5">No Cart Items</h1>
      <% } %>  
  </table>  

  